html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: white;
}

* {
  box-sizing: border-box;
}
html {
  background-color: black;
}

main {
  margin-top: 6rem;
}

.data-grid-container span,
body .data-grid-container div {
  color: white;
}

.table-filters--container {
  position: fixed;
  display: flex;
  background-color: #000000ad;
  height: 6rem;
  width: 100%;
  z-index: 9;
  top: 0;
  box-shadow: 1px 1px 7px #00000059;
}
.filter {
  padding-bottom: 1rem;
  padding-right: 2rem;
}

table {
  table-layout: fixed;
}

.table-row {
  background-color: rgb(18, 18, 18);
}

.table-row th,
.table-row td {
  color: white;
}

.table-row th {
  white-space: nowrap;
}

.MuiDataGrid-footerContainer {
  border-top: 1px solid;
}

.MuiDataGrid-cell {
  text-overflow: unset !important;
  overflow: scroll !important;
}

.MuiDataGrid-cell::-webkit-scrollbar {
  display: none;
}
.message-row {
  white-space: nowrap;
  overflow: scroll;
}

.message-table-head {
  width: 16rem;
}

.quelle-table-head {
  width: 12rem;
}

.datum-table-head {
  width: 14rem;
}

.no-results-found {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

td,
th {
  text-align: center !important;
}

tbody tr:hover {
  cursor: pointer;
  opacity: 0.9;
}

.MuiDataGrid-row:hover {
  cursor: pointer;
  background-color: #ffffff1e !important;
}
